body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.printables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.printable {
    margin: 10px;
    text-align: center;
}

.image-preview {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #45a049;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}

.back-link a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}

.back-link a:hover {
    color: #4CAF50;
}


